.cart-content h2 {
  color: black;
  margin-bottom: 16px;
}

.cart-total {
  color: black;
  border-top: 1px solid silver;
  padding: 24px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-total p {
  font-weight: 500;
  font-size: 20px;
}